<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<link rel="stylesheet" href="/css/style.css">
	<meta charset="UTF-8">
	<title>New Person</title>
	<style>
		.form-container {
			display: grid;
			grid-template-columns: 130px 170px auto;
			gap: 15px;
		}

		.submit-button {
			grid-column: span 3;
			justify-self: left;
			width: 80px;
		}
	</style>
</head>

<body>
	<h2>Enter New Person</h2>
	<p>Please fill the following form:</p>
	<form action="/person/add" method="post" th:object="${person}">
		<div class="form-container">
			<label for="fn">First Name:</label>
			<input type="text" id="fn" th:field="*{firstName}">
			<div><span th:errors="*{firstName}" class="error"></span></div>
			
			<label for="ln">Last Name:</label>
			<input type="text" id="ln" th:field="*{lastName}">
			<div><span th:errors="*{lastName}" class="error"></span></div>
			
			<label for="dob">Date of Birth:</label>
			<input type="text" id="dob" th:field="*{dateOfBirth}">
			<div><span th:errors="*{dateOfBirth}" class="error"></span></div>			
		
			<input type="submit" value="Save" class="submit-button">
		</div>
	</form>
	<p><a href="/list.html">Show List</a> | <a href="/new_person.html">Create New</a></p>
</body>

</html>