<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<link rel="stylesheet" href="/css/style.css">
	<meta charset="UTF-8">
	<title>User's Area</title>
</head>

<body>
	<h2>User's Area</h2>
	<p>Welcome to the user's area!</p>
	<p>Logged user: <span th:text="${loggedUser}"></span></p>
	<p>Roles: <span th:text="${roles}"></span></p>

	<form action="/logout" method="post">
		<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
		<input type="submit" value="Logout">
	</form>
</body>

</html>