<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<link rel="stylesheet" href="/css/style.css">
	<meta charset="UTF-8">
	<title>Person List</title>
</head>

<body>
	<h2>Person List</h2>
	<p>List of persons stored in our database:</p>
	<div th:unless="${#lists.isEmpty(persons)}">
		<table class="box">
			<tr>
				<th></th>
				<th>ID</th>
				<th>First Name</th>
				<th>Last Name</th>
				<th>Date of Birth</th>
			</tr>
			<tr th:each="p : ${persons}">
				<td><a th:href="'/delete/' + ${p.id}"><img src="/img/delete.png" width="20"></a></td>
				<td th:text="${p.id}"></td>
				<td th:text="${p.firstName}"></td>
				<td th:text="${p.lastName}"></td>
				<td><span th:text="${#temporals.format(p.dateOfBirth, 'dd-MM-yyyy')}"></span>
				    <span th:if="${#strings.isEmpty(p.dateOfBirth)}" th:text="'---'"></span></td>
			</tr>
		</table>
	</div>
	
	<div th:if="${#lists.isEmpty(persons)}">
		<p class="small-italic">No data found.</p>
	</div>
	<p>You can add a new person <a href="/form.html">here</a>.</p>	
</body>

</html>